.area_code {
    white-space: pre-line; word-break: break-all; background-color: white;
}

kbd {
    padding: 2px 3px 1px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-family: "Roboto Mono", monospace;
}